body {
  margin-left: 30%;
  }
.newsResults img {
  width: 40%;
  float: left;
  }
.newsResults h4, p, a {
  position: relative;
  width: 55%;
  float: right;
  right: 10px;
  text-align: justify;
  font-family: Roboto;
  }
.newsResults {
  display: block;
  float: left;
  height: 250px;
  width: 500px;
  margin-left: 0;
  font-size: 12px;
  background-color: #F2F2F2;
  }
.yz_boxWrap {
  position: absolute;
  width: 500px;
  height: 250px;
  display: block;
  overflow: hidden;
  }
.box {
  position: absolute;
  top: 130px;
  height: 250px;
  width: 500px;
  }
.boxImgWrap {
  position: absolute;
  height: 250px;
  width: 3500px;
  }
.roll {
  position: absolute;
  top: calc(50% - 40px);
  width: 40px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  color: #fff;
  font-weight: bolder;
  display: none;
  }
.prev {
  left: -50px; 
  }
.next { 
  right: -50px; 
  }
label {
  position: relative;
  }
input {
  width: 490px;
  height: 30px;
  padding-left: 10px;
  }
#searchbtn {
  position: absolute;
  right: 10px;
  top: 0;
  cursor: pointer;
  }
